<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body>
	<header id="header" th:fragment="layout-header">
		<!-- 	ナビゲーションバー -->
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/select}">メニュー</a>
				<button type="button" class="navbar-toggler"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<ul class="navbar-nav me-auto mb-2 mb-lg-1">
					<li><a class="nav-link" aria-current="page"
						th:href="@{/dailyReport}">日報</a></li>
					<li><a class="nav-link" href="/goodsunlms/mail">メール</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle"
						href="http://localhost:8080/goodsunlms/attendanceSystem"
						id="navbarDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false"> 勤怠</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/attendanceSystem}">勤怠メニュー</a></li>
							<li><a class="dropdown-item" th:href="@{/manualInput}">手動入力</a></li>
							<li><a class="dropdown-item" th:href="@{/findAllAttendance}">一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/manualDelete}">削除</a></li>
						</ul></li>
				</ul>
				<div class="header-right text-secondary">
					ユーザー名：<span id="userName" th:text="${session.fullName}"></span>&emsp;
				</div>
				<a th:href="@{/logout}" class="btn btn-outline-lb">ログアウト</a>
			</div>
		</nav>
	</header>
</body>
</html>
