<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body>
	<header id="header" th:fragment="layout-header">
		<!-- 	ナビゲーションバー -->
		<nav class="navbar navbar-expand-sm navbar-light bg-light nav-tabs mb-3" id="nav-tab">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/select}">メニュー</a>
				<button type="button" class="navbar-toggler"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<ul class="navbar-nav me-auto mb-2 mb-lg-1">
					<li><a class="nav-link" aria-current="page"
						th:href="@{/dailyReport}">日報</a></li>
					<li><a class="nav-link" href="/goodsunlms/mail">メール</a></li>&emsp;
					<div class="btn-group">
						<button type="button" class="btn btn-outline-gray"
							th:onclick="|location.href='@{/attendanceSystem}'|">勤怠</button>
						<button type="button"
							class="btn btn-outline-gray dropdown-toggle dropdown-toggle-split"
							data-bs-toggle="dropdown" aria-expanded="false">
							<span class="visually-hidden">Attendance Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/manualInput}">手動入力</a> <a
								class="dropdown-item" th:href="@{/findAllAttendance}">一覧</a> <a
								class="dropdown-item" th:href="@{/manualDelete}">削除</a>
						</div>
					</div>
					
					<div class="btn-group">
						<button type="button" class="btn btn-outline-gray">theme</button>
						<button type="button" class="btn btn-outline-gray dropdown-toggle dropdown-toggle-split"
							data-bs-toggle="dropdown" aria-expanded="false">
							<span class="visually-hidden">Theme Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" id="girly" href="javascript:changeStyleSheet('./css/layout.css');">girly</a>
							<a class="dropdown-item" id="dusty" href="javascript:changeStyleSheet('./css/layoutThemeDusty.css');">dusty</a>
							<a class="dropdown-item" id="dark" href="javascript:changeStyleSheet('./css/layoutThemeDark.css');">dark</a>
							<a class="dropdown-item" id="fireworks" href="javascript:changeStyleSheet('./css/layoutThemeFireworks.css');">fireworks</a>
						</div>
					</div>
					
				</ul>
				
				<div class="header-right text-secondary">
					ユーザー名：<a class="link-user" th:href="@{/editUser}"><span
						id="userName" th:text="${session.fullName}"> </span></a>&emsp;
				</div>
				<!--				<a th:href="@{/editUser}" class="btn btn-outline-lb">設定</a>&emsp;-->
				<a th:href="@{/logout}" class="btn btn-outline-lb">ログアウト</a>
			</div>
		</nav>
	</header>
</body>
</html>
