<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>
	<header id="header" th:fragment="layout-header">
		<!-- <div> -->
		<!--  -
			<p>
				&emsp; <a th:href="@{/select}">メニュー</a> &emsp;
				&emsp; <a th:href="@{/dailyReport}">日報</a> &emsp; <a
					th:href="@{/attendanceSystem}">勤怠登録</a> &emsp; <a
					href="/goodsunlms/mail">メールテンプレート</a>
					
			</p>->
		<!-- </div> -->
		
		<div>
		<ul class="nav nav-tabs">
		
		<li class="nav nav-item"><a th:href="@{/select}" class="nav-link active" aria-current="page" data-toggle="tab">メニュー</a></li>
		<li class="nav nav-item"><a th:href="@{/dailyReport}" class="nav-link" data-toggle="tab">日報</a></li>
		<li class="nav nav-item"><a th:href="@{/attendanceSystem}" class="nav-link" data-toggle="tab">勤怠登録</a></li>
		<li class="nav nav-item"><a href="/goodsunlms/mail" class="nav-link" data-toggle="tab">メールテンプレート</a></li>
		
		
		
		</ul>
		</div>
		<div>
			ユーザー名：<span th:text="${session.fullName}"></span>&emsp; <a
				th:href="@{/logout}">ログアウト</a>
		</div>
		
	</header>
</body>
</html>
