@charset "UTF-8";

#header {
 background-color:#ffdead;
 height: 80px;
 display:flex;
 justify-content: space-between;
 align-items:flex-end;
 
 width: 100%;
 position: fixed;
 top: 0px;
 background-image: url();
 background-size: cover;
 background-position: 50% 25%; /* 横 縦 */
}

#container{
	background-image: url();
	background-size: cover;
}

article{
 display:flex;
 margin-top: 80px;
 width: 100%;
 min-height: 100vh;
}

body{
	margin: 0px;
}

.select{
 margin-left: 10px;
 margin-right:10px;
 margin-top: 50px;
}

.list{
 margin-left: 5%;
 margin-right:10%;
 margin-top: 50px;
}

#table{
 margin-top: 50px;
}

h2{
 white-space: nowrap;
 padding-left: 3%
}

#footer {
 background-color: #ffdead;
 height: 80px;
 
}

[list]::-webkit-calendar-picker-indicator { 
   display: block; 
 } 


form, .form{
 padding:50px;
}

th, td {
	text-align: center;
}


.mail{
	margin-left:20px;
	padding-top: 50px;
}

.required:invalid {
	background: #e6e6fa;
}

.attention_bold {
		color:red;
		font-weight: bold;
}

.attention {
	color: red;
}

#explain{
	color: #e6e6fa;
}


.copy_button {
	margin-top: 20px;
}

.return{
        margin-top: 100px;
    }