@charset "UTF-8";

.bg-light {
    background-color: #C0DBEA!important;
}

.searchBtn_a{
	padding: 0 100px 0;
}

.searchBtn_b{
	margin-left: 30px;
}

.bg-rose{
	background: #fef5f8;
}

.border-rose {
  border-color: rgba(229, 151, 178, 0.3)!important;
}

.bg-lb{
	background: #ebf6f7;
}

.border-lb {
  border-color: rgba(193, 228, 233, 0.3)!important;
}

.link-purple {
  color: #c4a3bf;
}
.link-purple:hover, .link-purple:focus {
  color: pink;
}

#header {
 width: 100%;
 position: fixed;
 top: 0px;
}

.header-right{
display:flex;
white-space: nowrap;
}

article{
 background-image: url("../img/watercolor.jpg");
 background-color:rgba(255,255,255,0.5);
 background-blend-mode:lighten;
 background-size: 100%;
 display:flex;
 margin-top: 60px;
 width: 100%;
 min-height: 100vh;
}

body{
	margin: 0px;
}

.select{
 margin-right:10px;
 margin-top: 50px;
}

.list{
 margin-left: 5%;
 margin-right:10%;
 margin-top: 50px;
}

#table{
 margin-top: 50px;
}

h2{
 white-space: nowrap;
 padding-left: 3%;
 padding-top: 3%;

}

#footer {
 background-color: #ffe0ef;
 height: 80px;
 text-align: center;
}

[list]::-webkit-calendar-picker-indicator { 
   display: block; 
 } 


form .form{
 padding:50px;
}

th, td {
	text-align: center;
}

.mail{
	padding-top: 50px;
}

.required:invalid {
	background: #e6e6fa;
}

.attention_bold {
		color:#e95464;
		font-weight: bold;
}

.attention {
	color: #e95464;
}

#explain{
	color: #e6e6fa;
}


.copy_button {
	margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.content {
    padding: 0 20px
}

.attCard {
	height: 300px;
	margin: 10% 10px;
	padding: 30px 20px 20px;
	border: 2px solid #666666;
	border-radius: 20px;
	border-color: #bee5eb;
	border-width: 5px;
	border-image: linear-gradient(to bottom, #bee5eb 10%, pink 100%);
	border-image-slice: 1;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attBtn {
	margin-bottom: 70px;
}

.att_title{
	height: 110px;
	text-align: center;
	padding-top: 0;
}

#comp_title{
	height: 30px;
	margin-bottom:10%
}

.comp_btn {
	margin-bottom: 30px;
}

.btn-outline-pink {
	color: #f19ca7;
	border-color: #f19ca7;
	background-color: #fef9fb;
}

.btn-outline-pink:hover {
 	color: #9a0d7c;
  	background-color: #ffe0ef;
  	border-color: #e6c0c0;
}

.btn-check:focus + .btn-outline-pink, .btn-outline-pink:focus {
	box-shadow: 0 0 0 0.25rem rgba(230, 175, 207, 0.3);
}

.btn-outline-lb{
	color: #6c9bd2;
	background-color: aliceblue;
	border-color: #6c9bd2;
}

.btn-outline-lb:hover {
 	color: #008db7;
  	background-color: #bbe2f1;
  	border-color: #a0d8ef;
}

.btn-check:focus + .btn-outline-lb, .btn-outline-lb:focus {
	box-shadow: 0 0 0 0.25rem rgba(162, 194, 230, 0.4);
}

.table-purple {
  --bs-table-bg: #cff4fc;
  --bs-table-striped-bg: #c5e8ef;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #badce3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfe2e9;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #c4a3bf;
  border-radius: 10px;
}

.table-pink {
  --bs-table-bg: rgba(238, 187, 203, 0.3);
  --bs-table-striped-bg: #c5e8ef;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #badce3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgba(238, 187, 203, 0.5);
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #dfc2c4;
  border-radius: 10px;
}

.table-lb {
  --bs-table-bg: rgba(193, 228, 233, 0.2);
  --bs-table-striped-bg: #c5e8ef;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #badce3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgba(193, 228, 233, 0.5);
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #badce3;
  border-radius: 10px;
}

.return{
        margin-top: 50px;
}

.loading {
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading img {
    height: 200px;
    }