<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function(){
		if($("input").val()=="excelUsed"){
			alert("エラーが出ます。\n もしかしてexcelファイルは別のプロセスが使用中ですか？");
			window.location.href = "./select";
		} else if($("input").val()== "attendanceError") {
			alert("登録済みです");
			window.location.href = "./findAllAttendance";
		} else if($("input").val()== "sendFail") {
			alert("送信失敗です");
			window.location.replace("./mail");
		}
		else{
			alert("エラーが出ます。\n"+$("input").val());
			window.location.href = "./index";
		}	
		
	})
</script>
<body>
	<input type="hidden" th:value="${stat}"/>
	please waiting......
</body>
</html>