<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function(){
		if($("input").val()=="dailyDone"){
			alert("JOB DONE!");
			window.location.href = "./select";
		} else if ($("input").val()=="attendance"){
			alert("本日も出勤お疲れ様です");
			window.location.href = "./findAllAttendance";
		} else if ($("input").val()=="complaints") {
			alert("愚痴相談会の記録をしました");
			window.location.href = "./findAllAttendance";
		} else if ($("input").val()=="sendSuccess") {
		    alert("送信成功です!");
		    window.location.replace("./mail");
		} else if ($("input").val()=="editUserSuccess") {
		    alert("編集完了です");
		    window.location.replace("./editUser")
		}
		
		
	})
</script>
<body>
	<input type="hidden" th:value="${stat}"/>
	please waiting......
</body>
</html>