<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<style>
	.attention{
		color:red;
		font-weight: bold;
	}
</style>
<title>メールテンプレート</title>
</head>
<body>
<div class="attention">
※このテンプレートはあくまで一例です。<br/>
　必ずしも正解のテンプレートとは限りません。<br/>
</div>
<div>
※またこのテンプレートは社内向けのものです。<br/>
　社外の人に送る際は適宜修正してください。<br/>
</div>


<p>
<form method="get" th:action="@{/mailTemplate}">
<!--  送信相手を選択◆
	<input type="text" name="recipient" list="recipient" placeholder="選択または入力" autocomplete="off"/>
		<datalist id="recipient">
			
		</datalist>
-->
	送信相手の名前を入力◆
	<input type="text" name="recipient" />
	<br/>
	テンプレート内容を選択◆
	<select name="contents">
		<option value="docSubmit_link">書類提出（リンク添付）</option>
		<option value="docSubmit_att">書類提出（ファイル添付）</option>
		<option value="absence">欠勤連絡</option>
		<option value="greeting">挨拶と結びのみ</option>
	</select>
	<br/>
	<input type="submit" value="テンプレート出力" />
</form>
</p>

<!-- 
<p><a th:href="@{/addRecipient}">送信相手の名前を登録</a>
 -->
 
 
<p class="return"><a th:href="@{/select}">戻る</a></p>

</body>
</html>