<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>出勤情報削除</title>
</head>
<body>
<!-- 	<form method="post" th:action="@{/doManualDelete}"> -->
<!-- 		日時◆<input type="date" name="date" /> -->
<!-- 		開始時間◆<input type="time" value="09:00" name="startTime" /> -->
		
<!-- 		<input type="submit"value="削除" /> -->
<!-- 	</form> -->
	
<!-- 	<p> -->
<h2>出勤情報削除</h2>
<div class="list">
	<div id="table">
		<table border=1 class="table table-bordered">
			<tr>
				<th colspan="2">日付</th>
				<th>開始</th>
				<th>終了</th>
				<th>区分</th>
				<th>勤務時間</th>
				<th>プロジェクト</th>
				<th>場所</th>
				<th>備考</th>
				<th>削除</th>
			</tr>
			<tr th:each="attendance: ${attendance}">
				<td th:text="${#dates.format(attendance.date, 'MM/dd')}"></td>
				<td th:text="${#dates.format(attendance.date, 'E')}"></td>
				<td th:text="${attendance.startTime}"></td>
				<td th:text="${attendance.endTime}"></td>
				<td th:text="${attendance.division}"></td>
				<td th:text="${attendance.workHours}"></td>
				<td th:text="${attendance.project}"></td>
				<td th:text="${attendance.place}"></td>
				<td th:text="${attendance.remarks}"></td>
				<td><button th:onclick="del(this.getAttribute('delId'))" type="button" th:delId="${attendance.id}" th:text="削除"></button></td>
			</tr>
		</table>
	</div>
	<p class="return"><a th:href="@{/attendanceSystem}">戻る</a></p>
</div>
	
	<!--	/p-->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script th:src="@{/js/manuallDel.js}" type="text/javascript"></script>
</body>
</html>