<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
</head>
<body>
	<h2 class="text-secondary">メニュー</h2>
	<div class="select attCard" style="width:30%; text-align: center;">

		<p>
			<a th:href="@{/dailyReport}" class="link-info">日報</a>
		</p>

		<p>
			<a th:href="@{/attendanceSystem}"class="link-info">勤怠登録</a>
		</p>
		
		<p>
			<a th:href="@{/mail}" class="link-info">メールテンプレート</a>
		</p>

		<p>
			<a th:href="@{/logout}" class="link-info">ログアウト</a>
		</p>
	</div>
	<script th:src="@{/js/themeColor.js}" type="text/javascript"></script>
</body>
</html>